<%- include('shared/header.ejs') %>
    <div id="login">
        <div class="overlay">
            <!-- ================================spinner============================== -->
            <div class="parent-spinner">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <!-- ================================/spinner============================== -->

            <!-- ======================login form================================= -->

            <div class="container pt-5">
             
                     
                                <div class="row">
                                    <div class="col-md-6 m-auto p-5">
                                        <div class="form p-5 ">
                                            <h2 class="text-center text-white">Sign In</h2>

                                            <form action="/handleSignin" method="POST">
                                                <input placeholder="Email" type="email" class="form-control my-4 inp"
                                                    type="text" name="email">
                                                
                                                    <% if (exists.length !=0) { %>
                                                        <div class="alert alert-danger text-center">
                                                            Email does not exist
                                                        </div>
                                                        <% } %>
                                                
                                                    <input placeholder="Password" type="password"
                                                    class="form-control my-4 inp" type="text" name="password">
                                                    <% if (incorrect.length!=0) { %>
                                                        <div class="alert alert-danger text-center">
                                                            Incorrect Password
                                                        </div>
                                                        <% } %>
                                                    <button type="submit"
                                                    class="btn btn-outline-info w-100 text-white">Login</button>
                                                <p class="text-center text-white pt-3">
                                                    Don't Have an account..?
                                                    <a href="/" class="text-white">Sign Up Here</a>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
            </div>


        </div>
    </div>

    <!-- <div class="container my-5 py-5">
        <% if (exists.length !=0) { %>
            <div class="alert alert-danger text-center">
                Email does not exist
            </div>
            <% } %>
                <% if (incorrect.length!=0) { %>
                    <div class="alert alert-danger text-center">
                        Incorrect Password
                    </div>
                    <% } %>
                        <div class="col-md-5 m-auto text-center">
                            <form action="/handleSignin" method="POST">
                                <div class="form-group">
                                    <input placeholder="Enter email" name="email" type="email" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input placeholder="confirm Password" name="password" type="password"
                                        class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-info w-100">SignIn</button>
                            </form>
                        </div>
    </div> -->
    <%- include('shared/footer.ejs') %>